[user]
	email = davidb@rnett.nz
	name = David Barnett
[help]
	autocorrect = 3
[log]
	abbrevCommit = yes
	abbrev = 8
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	setup = ! "git init; git add .; git commit"
	# shows list of files that have a merge conflict
	conflicts = diff --name-only --diff-filter=U
	changes = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	# unstages a file. use like 'git unstage filename'
	unstage = reset HEAD --
	# resets all uncomitted changes and files
	abort = reset --hard HEAD
	# shows diff only for files staged to commit
	new = diff --cached
	# shows only changes to files in current directory
	here = status -sb .
	# undo last commit
	undo = reset HEAD~1
	# change last commit message
	recommit = commit --amend
	stat = status -sb
	root = rev-parse --show-toplevel
    prune-branches = "!git fetch && git branch --merged | egrep -v 'master|main|green'  | xargs git branch -d"
	recent = "! git branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\" | head -10"
[checkout]
	workers = 32
[url "ssh://git@github.com/"]
	insteadOf = git://github.com/
[github]
	user = dbanetto
[commit]
	verbose = 1
[diff]
	compactionheuristic = 1
    algorithm = "histogram"
    noprefix = true
[init]
	defaultBranch = main
[fetch]
    prune = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	default = simple
	autoSetupRemote = true
[protocol]
	version = 2
[rerere]
    enabled = true
[core]
	excludesfile = /Users/davidb/.config/gitignore

# Canva-specifc changes
[includeIf "gitdir:~/work/"]
	path = .config/gitconfig-canva
# Per-computer config, namely
#  * git config --file ~/.config/gitconfig core.excludesfile ~/.config/gitignore
#  * git config --file ~/.config/gitconfig gpg.format ~/.ssh/{primary key}.pub
#  * Follow https://git-send-email.io for sr.ht
[includeIf "gitdir:~/Code/"]
	path = .config/gitconfig
[maintenance]
	repo = /Users/davidb/work/account-service-customizations
	repo = /Users/davidb/work/k8s
	repo = /Users/davidb/work/Olly
	repo = /Users/davidb/work/platy
	repo = /Users/davidb/work/account-service-aft
	repo = /Users/davidb/work/docs
	repo = /Users/davidb/work/scratch
	repo = /Users/davidb/work/infra-tools
	repo = /Users/davidb/work/infrastructure
	repo = /Users/davidb/work/container-build
[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
